* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: black ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header p {
    color: rgb(84, 174, 248);
    font-weight: bold;
}

a {
    background-color: rgb(84, 174, 248);
    text-decoration: none;
    color: white;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#conteudo{
    background-color: black;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}

#conteudo h2 {
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}

#con {
    color: yellow;
    margin-bottom: 15px;
}
#coiso-azul {
    color: blue;
}

#conteudo p {
    color: whitesmoke;
}